<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<%- Lucy.form({recipe: 'mediaList', action: 'list-media', tabs: 6}) %>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Search Results: <%- Lucy.answer('nameLike') %></h2>
    <hr>
    <%- Lucy.for("video in result") %>
      <div class="row">
        <div class="col-xs-7">
          <h3><%- Lucy.variable('video.name') %></h3>
          <p><%- Lucy.variable('video.description') %></p>
        </div>
        <div class="col-xs-5">
<%- Lucy.include('videoPlayer', {tabs: 10, result: 'video'}); %>
        </div>
      </div>
      <hr>
    <%- Lucy.rof("video in result") %>
  </div>
</div>
