<% if (Lucy.language.client == 'html-angular') { %>
<script>
app.controller('kaltura_player', ['$scope', '$sce', function($scope, $sce) {
  $scope.getIframeUrl = function(id, partnerId) {
    var pieces = ["https://cdnapisec.kaltura.com",
                  "/p/", partnerId,
                  "/sp/", partnerId, "00",
                  "/embedIframeJs/uiconf_id/",
                  <%- Lucy.answer('skin') %>,
                  "/partner_id/", partnerId,
                  "?iframeembed=true",
                  "&playerId=kaltura_player_", id,
                  "&entry_id=", id];
    return $sce.trustAsResourceUrl(pieces.join(''));
  }
}])
</script>
<% } -%>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Search Results: <%- Lucy.variable('answers.nameLike') %></h2>
    <hr>
    <%- Lucy.for("video in result") %>
      <%- Lucy.if('index < 5') %>
        <div class="row">
          <div class="col-xs-7">
            <h3><%- Lucy.variable('video.name') %></h3>
            <p><%- Lucy.variable('video.description') %></p>
          </div>
          <div class="col-xs-5">
<%- Lucy.include('video_player', {tabs: 10, result: 'video'}); %>
          </div>
        </div>
        <hr>
      <%- Lucy.fi() %>
    <%- Lucy.rof("video in result") %>
  </div>
</div>
