<%
var frameUrl = function(id, partnerId) {
  if (Lucy.language.client === 'html-angular') return '{{ getIframeUrl(video.id, video.partnerId) }}'
  var pieces = ["https://cdnapisec.kaltura.com/p/",
                partnerId,
                "/sp/", partnerId, "00",
                "/embedIframeJs/uiconf_id/",
                Lucy.answer('skin'),
                "/partner_id/", partnerId,
                "?iframeembed=true",
                "&playerId=kaltura_player_", id,
                "&entry_id=", id]
  return pieces.join('');
}
-%>
<div id="kaltura_player_<%-Lucy.variable('result.id') %>"
<% if (Lucy.language.client === 'html-angular') { -%>
     ng-controller="kaltura_player"
<% } -%>
     style="width: 400px; height: 333px;"
     itemprop="video" itemscope
     itemtype="http://schema.org/VideoObject">
  <span itemprop="name" content="MediaSpace Categories"></span>
  <span itemprop="description" content="<%- Lucy.variable('result.description') %>"></span>
  <span itemprop="duration" content="<%- Lucy.variable('result.duration') %>"></span>
  <span itemprop="thumbnail" content="<%- Lucy.variable('result.thumbnailUrl') %>">
  </span>
  <span itemprop="width" content="400"></span>
  <span itemprop="height" content="333"></span>

  <iframe src="<%- frameUrl(Lucy.variable('result.id'), Lucy.variable('result.partnerId')) %>"
          width="400" height="333">
</div>
<% if (Lucy.answer('includeLikeButton')) { -%>
<%-  Lucy.include('like_button', {data: {action: "check-like",
                                        inputs: {videoID: Lucy.variable('result.id')}
                                       }
                                }) %>
<% } -%>
