<%
var scriptUrl = function(id, partnerId, concat) {
  var pieces =
        ['http://cdnapi.kaltura.com/p/', partnerId,
         '/sp/', partnerId, '00/embedIframeJs/uiconf_id/',
         Lucy.answer('skin'),
         '/partner_id/', partnerId,
         '?autoembed=true&entry_id=', id,
         '&playerId=kaltura_player_', id,
         '&width=400&height=333&flashvars[streamerType]=auto']
  if (concat) {
    return pieces.join('+');
  } else {
    return pieces.join('');
  }
}
-%>
<div id="kaltura_player_<%-Lucy.variable('result.id') %>"
<% if (Lucy.language.client === 'html-angular') { -%>
     ng-init="getScript()"
     ng-controller="kaltura_player"
<% } -%>
     style="width: 400px; height: 333px;"
     itemprop="video" itemscope
     itemtype="http://schema.org/VideoObject">
  <span itemprop="name" content="MediaSpace Categories"></span>
  <span itemprop="description" content="<%- Lucy.variable('result.description') %>"></span>
  <span itemprop="duration" content="<%- Lucy.variable('result.duration') %>"></span>
  <span itemprop="thumbnail" content="<%- Lucy.variable('result.thumbnailUrl') %>">
  </span>
  <span itemprop="width" content="400"></span>
  <span itemprop="height" content="333"></span>
</div>
<% if (Lucy.answer('includeLikeButton')) { -%>
<%-  Lucy.include('like_button', {data: {action: "check-like",
                                        inputs: {videoID: Lucy.variable('result.id')}
                                       }
                                }) %>
<% } -%>
<% if (Lucy.language.client !== 'html-angular') { %>
<script src="<%- scriptUrl(Lucy.variable('result.id'), Lucy.variable('result.partnerId')) %>">
</script>
<% } else { -%>
<script>
app.controller('kaltura_player', function($scope) {
  $scope.getScript = function() {
    var url = 'http://cdnapi.kaltura.com' +
         '/p/' + $scope.video.partnerId + 
         '/sp/' + $scope.video.partnerId  + '00' +
         '/embedIframeJs' +
         '/uiconf_id/<%- Lucy.answer('skin') %>' +
         '/partner_id/' + $scope.video.partnerId +
         '?autoembed=true&entry_id=' + $scope.video.id +
         '&playerId=kaltura_player_' + $scope.video.id +
         '&width=400&height=333' +
         '&flashvars[streamerType]=auto';
    $.getScript(url);
  }
})
</script>
<% }        -%>
