<script src="<%-'http://cdnapi.kaltura.com' +
                '/p/' + setup.partner_id.val +
                '/sp/' + setup.partner_id.val  + '00' +
                '/embedIframeJs' +
                '/uiconf_id/' + videoPlayer.skin.val +
                '/partner_id/' + setup.partner_id.val +
                '?autoembed=true&entry_id=' + videoPlayer.videoID.val +
                '&playerId=kaltura_player_' + videoPlayer.videoID.val +
                '&cache_st=' + videoPlayer.videoID.val +
                '&width=400&height=333' +
                '&flashvars[streamerType]=auto' %>">
</script>
<div ng-controller="KalturaVideoController"
     id="kaltura_player_<%- videoPlayer.videoID.val %>"
     style="width: 400px; height: 333px;"
     itemprop="video" itemscope
     itemtype="http://schema.org/VideoObject">
  <span itemprop="name" content="MediaSpace Categories"></span>
  <span itemprop="description" content="{{ video.description }}"></span>
  <span itemprop="duration" content="{{ video.duration }}"></span>
  <span itemprop="thumbnail"
        content="http://cdnbakmi.kaltura.com/p/<%- setup.partner_id.val %>/sp/<%- setup.partner_id.val %>00/thumbnail/entry_id/<%- videoPlayer.videoID.val %>/version/100000/acv/101">
  </span>
  <span itemprop="width" content="400"></span>
  <span itemprop="height" content="333"></span>
</div>
