<div id="kaltura_player_<%- videoPlayer.videoID %>" style="width: 400px; height: 333px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject>
<span itemprop="name" content="MediaSpace Categories"></span>
<span itemprop="description" content="This video describes how to create new categories and add content to your MediaSpace site."></span>
<span itemprop="duration" content="162"></span>
<span itemprop="thumbnail" content="http://cdnbakmi.kaltura.com/p/1760921/sp/176092100/thumbnail/entry_id/<%- videoPlayer.videoID %>/version/100000/acv/101"></span>
<span itemprop="width" content="400"></span>
<span itemprop="height" content="333"></span>
<a href="http://corp.kaltura.com/products/video-platform-features">Video Platform</a>
<a href="http://corp.kaltura.com/Products/Features/Video-Management">Video Management</a> 
<a href="http://corp.kaltura.com/Video-Solutions">Video Solutions</a>
<a href="http://corp.kaltura.com/Products/Features/Video-Player">Video Player</a></div>
<script src="https://cdnapisec.kaltura.com/p/1760921/sp/176092100/embedIframeJs/uiconf_id/<%- videoPlayer.skin %>/partner_id/1760921?autoembed=true&entry_id=<%- videoPlayer.videoID %>&playerId=kaltura_player_<%- videoPlayer.videoID %>&cache_st=<%- videoPlayer.videoID %>&width=400&height=333&flashvars[streamerType]=auto"></script>
